* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: relative;
  height: 50px; 
  white-space: nowrap;

}

nav ul {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 350px;
  list-style: none;
  font-family: 'Homenaje', sans-serif;
  font-size: 25px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.selecionado {
  color: #B97700;
}

.arqueologia-container {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.arqueologia-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.nome-museu {
    font-family: 'josefin sans', sans-serif;
    text-align: center;
    font-size: 3.1rem;
    color: #B97700;
    margin-top: 100px;
    margin-bottom: 10px
}
