* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: relative;
  height: 50px; 
  white-space: nowrap;

}

nav ul {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 350px;
  list-style: none;
  font-family: 'Homenaje', sans-serif;
  font-size: 25px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.selecionado {
  color: #B97700;
}

.arqueologia-container {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.arqueologia-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.nome-museu {
    font-size: 48px;
    white-space: nowrap;
    font-family: 'Spartan', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    padding: 0 20px; 
    box-sizing: border-box;
    margin-top: 65px;
    color:#B97700;
}
