* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background-color: #FFFFFF; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
nav {
  position: relative;
  height: 50px; 
  white-space: nowrap;

}

nav ul {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 350px;
    list-style: none;
    font-family: 'Homenaje', sans-serif;
    font-size: 25px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.selecionado {
    color: #B97700;
}