* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
    list-style: none;
    font-family: 'Homenaje', sans-serif;
    font-size: 48px;
    margin: 0;
    width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.selecionado {
    color: #B97700;
}
