.formulario-container {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    
}

.formulario-box {
    width: 1410px;
    min-height: 1600px;
    border: 2px solid #B97700;
    border-radius: 100px;
    padding: 80px;
    box-sizing: border-box;
    background-color: white;
}

.titulo-informacoes {
    font-family: 'Homenaje', sans-serif;
    font-size: 96px;
    color: #B97700;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-bottom: 60px;
    color: #000;
}

.formulario {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px; 
    max-width: 1245px;
    margin: 0 auto;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    height: 103px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.20); 
    border: 2px solid #B97700;
    border-radius: 50px;
    padding: 0 40px; 
    font-family: 'Homenaje', sans-serif;
    font-size: 32px;
    color: #333; 
}

textarea {
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.20);
    border: 2px solid #B97700;
    border-radius: 50px; 
    padding: 30px 40px; 
    font-family: 'Homenaje', sans-serif;
    font-size: 32px;
    color: #333;
    resize: vertical;
}

::placeholder {
    font-family: 'Homenaje', sans-serif;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.50); 
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-width: 3px;
    border-color: #D08600;
}


a {
    text-decoration: none;
    color: inherit;
}

.botao-proximo {
    width: 425px;
    height: 123px;
    border-radius: 342px;
    background-color: #B97700;
    border: none;
    font-family: 'Homenaje', sans-serif;
    font-size: 48px;
    color: white;
    margin: 40px auto 0; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.botao-proximo:hover {
    background-color: #A06800; 
}

.texto-confirmacao {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 38px;
    text-align: center;
    margin-top: 30px;
}