* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.menu div {
  overflow: hidden;
}

.menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 50px;
  padding: 20px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.menu div img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.menu div a {
  text-decoration: none;
  color: inherit;
}

.menu div img:hover {
  transform: scale(1.05);
}

img.sem-efeito{
   transform: none !important;
  transition: none !important;
}

.sala{
  text-align: center;
  font-family: 'Homenaje', sans-serif;
  font-size: 20px;
}

.sala p{
  margin-bottom: 10px;
}


.data-local {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px; 
  margin-top: 20px;
}



.facavisita h1{
  font-family: 'josefin sans', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-top: 100px;
}

.facavisita h2{
  font-family: 'josefin sans', sans-serif;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  color: #B97700;
  margin-bottom: 100px;
}


.horarios, .endereco{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  gap: 55px;
  font-family: 'josefin sans', sans-serif;
  margin-bottom: 100px;

}

.horarios{
  margin-right: 100px;
}

.texto-hora{
  margin-top: 5px;
}

.relogio{
  width: 35px;
  height: 35px;
  margin-top: 5px;
}

.endereco p {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
}

.local-icon{
  width: 30px;
  height: 42.45px;  
}

/* bandeirolas */
.bandeirolas img{
  width: 100%;
  height: 190px;
  object-fit: cover;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Um pouquinho do Museu...*/

.faixa.laranja {
  background-color: #D08600;
  width: 1346px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-left: 0; 
  margin-right: auto;
  margin-bottom: 180px;
}

.titulo-faixa{
  font-family: 'josefin sans', sans-serif;
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
  font-size: 45px;
}

.text-obra{
  font-family: 'josefin sans', sans-serif;
  color: #000000;
  font-weight: 300;
  font-style: italic;
  font-size: 35px;
  text-align:right ;
  padding-right: 55px;
  margin-bottom: 30px;
}

.text-zoologia{
  font-family: 'josefin sans', sans-serif;
  color: #000000;
  font-weight: 300;
  font-style: italic;
  font-size: 35px;
  padding-left: 55px;
  margin-top: 180px;
  margin-bottom: 100px;
}


.muitomais{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 1000px;
  margin: auto;
}

.borboletas{
 grid-column: 1/3;
}

.criancas-indigenas {
  width:581.33px;
  margin-right: 60px;
}

.museu-antigo img{
  width: 1453px;
  height: 451px;
  display: block;
  margin: 0 auto;
  margin-bottom: 85px;
  border: 15px solid #B97700;
}
.nossa-historia h2{
  font-family: 'josefin sans', sans-serif;
  color: #B97700;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 45px;
}

.nossa-historia p{
  text-align: justify;
  font-family: 'Homenaje', sans-serif;
  font-size: 35px;
  margin-left: 335px;
  margin-right: 335px;
  margin-bottom: 250px;
}


/* footer */

.frase-efeito h1{
  font-family: 'josefin sans', sans-serif;
  color: #B97700;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 45px;
}

.frase-efeito p{
  font-family: 'Homenaje', sans-serif;
  color: #000000;
  text-align: center;
  font-size: 30px;
  margin-bottom: 250px;
}

/* FUNDO AMARELO*/
.fundo-amarelo {
  background-color: #FFDD6D;
  padding: 40px;
  width: 100vw;
  position: relative;
  min-height: 400px;
  overflow: hidden;
  margin-top: 80px;
}

.contato {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rede-social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rede-social p {
    font-family: 'Homenaje', sans-serif;
    font-size: 28px;
    margin: 0;
}

.rede-social img {
  height: 30px;
}

.logos-container {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    padding: 0;
}

.esboco-museu {
    height: 300px;
    left: 0;
    bottom: 0;
}

.logos-parceiros {
    display: flex;
    gap: 50px; 
    align-items: flex-end;
    height: 175px;
    flex-grow: 1; 
    justify-content: flex-start;
}

.logos-parceiros img {
    object-fit: contain;
    height: auto;
}

.logos-parceiros img:first-child { 
    height: 175px;
}

.logos-parceiros img:nth-child(2) { 
    height: 80px;
    margin-bottom: 50px;
    padding-left: 35px;
}

.logos-parceiros img:last-child {
    height: 300px;
    margin-bottom: -30px;
}

.rede-social a {
  text-decoration: none;
  color: inherit;
  display: block;
}